html{
	font-family: "Courier, Courier New, Lucida Console";
}
table{
	border: solid;
}
td{
	width:20px;
}
.O {
	background-color:blue;
}
.C{
	background-color:purple;
}
.S{
	background-color:yellow;
}
.G{
	background-color:green;
}
.-{
	background-color:orange;
}
.P{
	background-color:pink;
}
.B{
	background-color:black;
	color: white;
}